.landing{
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/images/Hero.png') no-repeat center fixed;
    background-size: cover;
    position: relative;
}

.about{
    width: 100%;
    /* min-height: 100vh; */
    min-height: 75vh;
}

.text_justify {
    text-align: justify;
}

/* committee */
.committee{
    width: 100%;
    /* min-height: 100vh; */
    min-height: 75vh;
}

.card {
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.07);
}

/* interests */
.interests{
    width: 100%;
    min-height: 100vh;
}

/* schedule */
.schedule{
    width: 100%;
    /* min-height: 100vh; */
    min-height: 75vh;
    background-color: #FFFFFF;
}

.bg_odd{
    background-color: rgba(254, 157, 108, 0.1) !important;
}

.bg_even{
    background-color: rgba(254, 157, 108, 0.34) !important;
}

.border_bottom_background {
    border-bottom: 8px solid #FFFFFF;
}

/* fee */
.fee{
    width: 100%;
    /* min-height: 100vh; */
    min-height: 75vh;
}

.fee_grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tertiary_color {
    color: #C74B0D
}

.pointer {
    cursor: pointer;
}

/* contact */
.contact{
    width: 100%;
    /* min-height: 100vh; */
    min-height: 50vh;
}

/* .border_left_contact {
    border-left: 2px solid #D9D9D9;
} */

/* landing */
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.m_10 {
    margin: 0 20%;
}

/* navbar */
.white_nav {
    height: 85px;
    background-color: #FFFFFF;
    color: black !important;
    box-shadow: 0 5x 25px rgba(0, 0, 0, 0.2);
}

/* .white_nav >  */

.nav{
    height: 85px;
}

.main_content {
    height: calc(100vh) ;
}

.register_nav{
    outline: none;
    border: 1px solid #FF9375;
    background-color: #FE9D6C;
    padding: 14px 24px;
    color: #FFFFFF;
    transition: all 0.4s linear;
}

.register_nav:hover, .register_hero:hover{
    color: #FFFFFF;
}

.register_hero{
    border: 1px solid #FE9D6C;
    background-color: #FE9D6C;
    padding: 16px 24px;
    color: #FFFFFF;
}

.link_style {
    color: #FFFFFF !important;
}

.link_style_black {
    color: A0A0A0 !important;
}

.hr {
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(254, 157, 108, 0.5) !important;
}

@media screen and (max-width:1572px) {
    .m_10 {
        margin: 0 12%;
    }   
}

@media screen and (max-width:1190px) {
    .m_10 {
        margin: 0 7%;
    }   
    .link_style, .link_style_black {
        width: 100%;
        text-align: center;
        background-color: #FFFFFF;
        color: A0A0A0 !important;
    }
}


@media screen and (max-width:772px) {
    .register_nav{
        display: none;
    }
    .fee_grid {
        align-items: center;
    }
    /* .navbar{
        display: block;
    } */
}