.landing{
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/images/Hero.png') no-repeat center fixed;
    background-size: cover;
    position: relative;
}

.about{
    width: 100%;
    /* min-height: 100vh; */
    min-height: 75vh;
}

.committee{
    width: 100%;
    /* min-height: 100vh; */
    min-height: 75vh;
}

.card {
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.07);
}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.m_10 {
    margin: 0 20%;
}

/* navbar */
.white_nav {
    height: 85px;
    background-color: #FFFFFF;
    box-shadow: 0 5x 25px rgba(0, 0, 0, 0.2);
    color: #421600;
}

/* .white_nav >  */

.nav{
    height: 85px;
}

.main_content {
    height: calc(100vh) ;
}

.register_nav{
    outline: none;
    border: 1px solid #FF9375;
    background-color: #FE9D6C;
    padding: 14px 24px;
    color: #FFFFFF;
    transition: all 0.4s linear;
}

.register_nav:hover, .register_hero:hover{
    color: #FFFFFF;
}

.register_hero{
    border: 1px solid #FE9D6C;
    background-color: #FE9D6C;
    padding: 16px 24px;
    color: #FFFFFF;
}

.link_style {
    color: #FFFFFF !important;
}

@media screen and (max-width:1572px) {
    .m_10 {
        margin: 0 12%;
    }   
}

@media screen and (max-width:1190px) {
    .m_10 {
        margin: 0 7%;
    }   
    .link_style {
        width: 100%;
        text-align: center;
        background-color: #FFFFFF;
        color: black !important;
    }
}


@media screen and (max-width:772px) {
    .register_nav{
        display: none;
    }
    /* .navbar{
        display: block;
    } */
}