.schedule{
    width: 100%;
    /* min-height: 100vh; */
    min-height: 75vh;
    background-color: #FFFFFF;
}

.bg_odd{
    background-color: rgba(254, 157, 108, 0.1);
}

.bg_even{
    background-color: rgba(254, 157, 108, 0.24)
}

.border_bottom_background {
    border-bottom: 8px solid #FFFFFF;
}